body {
    display: grid;
    grid-template-areas:
        "h h h"
        "a n s"
        "f f f";
    gap: 10px;
}

img {
    width: 30rem;
    height: auto;
}

header {
    grid-area: h;
}

article {
    grid-area: a;
}

section {
    grid-area: n
}

aside {
    grid-area: s;
}

footer {
    grid-area: f;
}

header,
article,
section,
aside,
footer {
    background-color: rgb(224, 224, 224);
}

article,
section,
aside {
    display: flex;
    place-items: center;
    flex-direction: column;
}

button {

    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    height: 30px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}



@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }
}