:root {
    --primary: #42b983;
    --secondary: #2e4469;
    --background: #35495e;
    --black-text: rgb(61, 61, 61);
    --white-text: #ffffff;
    --blue-gradient: linear-gradient(90deg, #42b983, #35495e);
    --button-hover: #5b79a2;
    --text-shadow: .2rem .2rem .2rem #0d0d0e;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

svg {
    width: 2em;
    height: auto;
}

@media (max-width:700px) {
    body {
        display: flex;
        flex-direction: column;
    }
}