/* SET UP */

:root {
    --primary: #42b983;
    --secondary: #2e4469;
    --background: #35495e;
    --black-text: rgb(61, 61, 61);
    --white-text: #ffffff;
    --blue-gradient: linear-gradient(90deg, #42b983, #35495e);
    --button-hover: #5b79a2;
    --text-shadow: .2rem .2rem .2rem #0d0d0e;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* GRILLA */

body {
    display: grid;
    grid-template-areas:
        "t t t"
        "a n s"
        "f f f";
    gap: 10px;
}

img {
    width: 24rem;
    height: auto;
    padding: 1vh;
}

header {
    grid-area: h;
}

h1 {
    grid-area: t;
    display: flex;
    justify-content: center;
    padding-top: 12vh;
    
}

article {
    grid-area: a;
}

section {
    grid-area: n
}

aside {
    grid-area: s;
}

footer {
    grid-area: f;
}

header {
    position: fixed;
    width: 100%;
}

header,
article,
section,
aside,
footer {
    background-color: rgb(224, 224, 224);
}

article,
section,
aside {
    display: flex;
    place-items: center;
    flex-direction: column;
}

/* PÁRRAFOS */

p {
    padding: 2vh;
}

/* uppercase */

button, h1 {
    text-transform: uppercase;
}

/* BOTÓN LEER MÁS */

button {
    color: #42b983;
    background: transparent;
    border: 2px solid #42b983;
    border-radius: 6px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    height: 30px;
}

button {
    background-color: white;
    color: #42b983;
    border: 2px solid #42b983;
}

button:hover {
    background-color: #42b983;
    color: white;
}

p{
    text-align: justify;
}

article {
    background-color: #ffffff;
}

section {
    background-color: #ffffff;
}

aside {
    background-color: #ffffff;
}

@media (max-width:700px) {
    body {
        display: flex;
        flex-direction: column;
    }
}